
#cssmenu,
#cssmenu ul,
#cssmenu li #cssmenu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Helvetica;
  line-height: 1;
}
#cssmenu {
   margin: 0; 
   padding: .3em 0 .3em 0; 
   width: 100%; 
   text-align: center; 
   left:-50%;   
}
#cssmenu ul {
  zoom: 1;
  background: #a7bc7a url(images/pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
   display: inline-block;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a,
#cssmenu a:link,
#cssmenu a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}
#cssmenu a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}
#cssmenu li {
  float: left;
  border-right: 1px solid #b2c58b;
}
#cssmenu li:hover {
  background: #9cb369 url(images/pattern.png) top left repeat;
}
#cssmenu li:first-child {
  border-left: none;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}


.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#hmenu { 
   margin: 0; 
   padding: .3em 0 .3em 0; 
   background: #ddeebb; 
   width: 100%; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding: 0; 
} 

div#hmenu ul li { 
   margin: 0; 
   padding: 0; 
   display: inline; 
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #004415; 
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #227755; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #227755; 
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #f6f0cc; 
   background-color: #227755; 
}
.demo{width:620px; margin:30px auto}
.demo p{line-height:32px}
.btn{position: relative;overflow: hidden;margin-right: 4px;display:inline-block;*display:inline;padding:4px 10px 4px;font-size:12px;line-height:18px;*line-height:20px;color:#fff;text-align:center;vertical-align:middle;cursor:pointer;background-color:#5bb75b;border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.btn input {position: absolute;top: 0; right: 0;margin: 0;border: solid transparent;opacity: 0;filter:alpha(opacity=0); cursor: pointer;}
.progress { position:relative; margin-left:10px; margin-top:14px; width:400px;padding: 1px; border-radius:22px; display:none}
.bar {background-color: green; display:block; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; height:20px; display:inline-block; top:3px; left:2%; color:#fff }
.files{height:22px; line-height:22px; margin:10px 0}
.delimg{margin-left:20px; color:#090; cursor:pointer}

		.dragActive {
			border: 2px dotted orange;
		}

		.dropHover {
			border: 1px dotted red;
		}

		.item {
			border: 1px solid black;
			background-color: #ddddff;
			width: 100px;
			height: 100px;
			position: absolute;
		}

		#cg {
			left: 3px;
			top: 39px;
		}
		#score {
			left: 3px;
			top: 109px;
		}

		#sign {
			left: 3px;
			top: 179px;
		}
		#effect {
			left: 3px;
			top: 249px;
		}
		#rec {
			left: 3px;
			top: 319px;
		}
		#or {
			left: 3px;
			top: 389px;
		}
		#hot {
			left: 3px;
			top: 459px;
		}
		#func {
			left: 3px;
			top: 532px;
		}
		#norm {
			left: 3px;
			top: 610px;
		}

		#left {
			border: 1px solid #8e8e8e;
			width: 150px;
			height: 840px;
			position: absolute;
			background-color:#FBEFF8;
		
		}

		#right {
			/*border-top: 1px solid #8e8e8e;*/
			background-color:#ffffff;
			padding: 0;
			margin-left:-5px;
			border-style: solid;
			border-left-style:none;
			border-width:1px;
			border-top-color: #8e8e8e;
			border-bottom-color: #8e8e8e;
			border-right-color: #8e8e8e;
			width: 670px;
			position: absolute;
			float:right;
			height:840px;
			overflow: auto;
			left: 173px;
		}

		#save {
			border: 2px solid #d8d8d8;
			width: 150px;
			height: 750px;
			position: absolute;
			left: 1250px;
		}
		div.flow-container {
		width:600px;
		height:600px;
		}

		.node {
			box-shadow: 2px 2px 19px #aaa;
			-o-box-shadow: 2px 2px 19px #aaa;
			-webkit-box-shadow: 2px 2px 19px #aaa;
			-moz-box-shadow: 2px 2px 19px #aaa;
			-moz-border-radius: 0.5em;
			border-radius: 0.5em;
			padding:30px;
			opacity: 0.8;
			filter: alpha(opacity=80);
			border: 1px solid #B5B9BE;
			width: 110px;
			/*line-height: 40px;*/
			text-align: center;
			z-index: 20;
			position: absolute;
			background-color: #eeeeef;
			color: #095A02;
			padding: 10px;
			font-size: 12pt;
			cursor: pointer;
			height: 40px;
			line-height: 50px;
		}
		.radius {
			border-radius: 25em;
		}
		.node:hover {
			box-shadow: 2px 2px 19px #444;
			-o-box-shadow: 2px 2px 19px #444;
			-webkit-box-shadow: 2px 2px 19px #444;
			-moz-box-shadow: 2px 2px 19px #444;
			opacity: 0.8;
			filter: alpha(opacity=80);
		}

		.current {
			background-color: #32cd32 !important;
		}
	    #footer{
			border-top:solid 1px grey;
			background:white;
			color:black;
			font-size:12px;
			padding:10px;
			width: 1210px;
			top:1400px;
			height: 50px;
			position: absolute;
        }